* {
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F33;
}

h1 {
    color: gold;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#grid {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.cell {
    background-color: white;
}

#btn-size {
    font-family: system-ui, sans-serif;
}

#btn-size {
    color: gray;
    margin-top: 25px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    font-size: 45px;
}

#btn-size:hover {
    filter: brightness(105%)
}

#btn-size:active {
    scale: 90%;
}